
.main-layout{
    top: 40px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    position: relative;
}
.main-layout1{
    width: 100%;
    max-width: 700px;
    margin: auto;
    position: relative;
}
.loginUpSize{
    width: 70px;
    position: relative;

}
.loginUpDisplay{
    display: block;
}
.iconsPosition{
    position: absolute;
    float: left;
    top:12px;
}
.loginUpTextPosition{
    position: relative;
    left: 25px;

}

.main-layout-index{
    width: 100%;
    max-width: 700px;
    margin: auto;
    position: relative;
}
.title-text{
    position: absolute;
    top: 35px;
}
.title-input{
    width: 500px;
}
.dialogPosition{
    z-index: 100;
    position: relative;
}
.dialog-input-width{
    position: absolute;
    left: 60px;
    width: 20px;
}
.dialog-text-left{
    position: absolute;
    top: -5px;
}
.dialog-text-right{
    position: absolute;
    left: 110px;
    top: -5px;
}
.dialog-text-del{
    position: absolute;
    top: 13px;
    left: 30px;
}
.dialog-text-add{
    position: absolute;
    top: 13px;
    left: 80px;
}
.none-select{
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.table-size{
    /*top: 40px;*/
    position: relative;
    margin: auto;
    max-width: 1300px;
}
.mdui-dialog-content-size{
    height: 80px;
}
.div-layout{
    width: 100%;
    max-width: 700px;
    margin: auto;
    position: relative;
}

.login-button{

    position: relative;
    top: 20px;
    text-align: center;
}
.login-button-width{
    width: 150px;
    height: 50px;
}
.register-button{
    position: relative;
    top: 20px;
    text-align: center;
}
.register-button-width{
    width: 150px;
    height: 50px;
}

.stuInfoRestabel{
    position: relative;
    top:50px;
}
